<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="600">
         <div id="t-1611891d-dab8-4ff3-9b87-e2d20bbeecb9" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Template 1" width="360" height="600">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/1611891d-dab8-4ff3-9b87-e2d20bbeecb9-1578423561264.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/1611891d-dab8-4ff3-9b87-e2d20bbeecb9-1578423561264-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/1611891d-dab8-4ff3-9b87-e2d20bbeecb9-1578423561264-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>