#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5aacc9af-7e24-4658-b0c3-301668e7462e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}