#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6334c5b1-431a-4256-bf3e-9c785adc7561 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}