#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Table_1 {
  border-collapse: separate;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Table_2 {
  border-collapse: separate;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Table_3 {
  border-collapse: separate;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-plus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}