#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7b62b470-8aa6-4ab5-b211-92e41a31f8fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}