#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_106 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_153 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Table_2 {
  border-collapse: separate;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}