#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8777ee7a-d1e4-462f-92a5-1fc8258fcf4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}