#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}