#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Table_2 {
  border-collapse: separate;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_119 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}