#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc05d2b2-5493-4245-aa55-7ee194726e14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}