#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}