#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-plus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Table_1 {
  border-collapse: separate;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Table_2 {
  border-collapse: separate;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_114 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_115 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_116 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_117 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_118 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}