#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}