#s-60d84cda-b60d-459f-a101-104e6908260c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-60d84cda-b60d-459f-a101-104e6908260c > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Image_1 {
  position: absolute;
  width: 360px;
  height: 594px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Image_1 > img, #s-60d84cda-b60d-459f-a101-104e6908260c #s-Image_1 > svg {
  height: 594px;
  width: 360px;
  box-shadow: none;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_1 {
  position: absolute;
  width: 41px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_1 > img, #s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_1 > svg {
  height: 35px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_2 {
  position: absolute;
  width: 75px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_2 > img, #s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_2 > svg {
  height: 79px;
  width: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_3 {
  position: absolute;
  width: 73px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_3 > img, #s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_3 > svg {
  height: 79px;
  width: 73px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_4 {
  position: absolute;
  width: 44px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_4 > img, #s-60d84cda-b60d-459f-a101-104e6908260c #s-Hotspot_4 > svg {
  height: 50px;
  width: 44px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-60d84cda-b60d-459f-a101-104e6908260c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}