#s-77202763-33c1-438f-9108-fd610e194f41 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-77202763-33c1-438f-9108-fd610e194f41 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}