#s-d8b3fa42-b023-4830-b9e8-88119259124c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Image_1 {
  position: absolute;
  width: 360px;
  height: 597px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Image_1 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Image_1 > svg {
  height: 597px;
  width: 360px;
  box-shadow: none;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_1 {
  position: absolute;
  width: 52px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_1 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_1 > svg {
  height: 29px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_2 {
  position: absolute;
  width: 43px;
  height: 126px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_2 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_2 > svg {
  height: 126px;
  width: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_3 {
  position: absolute;
  width: 43px;
  height: 138px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_3 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_3 > svg {
  height: 138px;
  width: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_4 {
  position: absolute;
  width: 35px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_4 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_4 > svg {
  height: 76px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_5 {
  position: absolute;
  width: 35px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_5 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_5 > svg {
  height: 118px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_6 {
  position: absolute;
  width: 49px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_6 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_6 > svg {
  height: 59px;
  width: 49px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_7 {
  position: absolute;
  width: 283px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_7 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_7 > svg {
  height: 62px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_8 {
  position: absolute;
  width: 150px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_8 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_8 > svg {
  height: 117px;
  width: 150px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_9 {
  position: absolute;
  width: 100px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_9 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_9 > svg {
  height: 117px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_10 {
  position: absolute;
  width: 120px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_10 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_10 > svg {
  height: 59px;
  width: 120px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_11 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_11 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_11 > svg {
  height: 59px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_12 {
  position: absolute;
  width: 160px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_12 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_12 > svg {
  height: 45px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_13 {
  position: absolute;
  width: 118px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_13 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_13 > svg {
  height: 51px;
  width: 118px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_14 {
  position: absolute;
  width: 42px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_14 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_14 > svg {
  height: 76px;
  width: 42px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_15 {
  position: absolute;
  width: 45px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_15 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_15 > svg {
  height: 76px;
  width: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_16 {
  position: absolute;
  width: 82px;
  height: 168px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_16 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_16 > svg {
  height: 168px;
  width: 82px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_17 {
  position: absolute;
  width: 43px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_17 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_17 > svg {
  height: 33px;
  width: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_18 {
  position: absolute;
  width: 58px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_18 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_18 > svg {
  height: 67px;
  width: 58px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_19 {
  position: absolute;
  width: 283px;
  height: 88px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_19 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_19 > svg {
  height: 88px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_20 {
  position: absolute;
  width: 71px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_20 > img, #s-d8b3fa42-b023-4830-b9e8-88119259124c #s-Hotspot_20 > svg {
  height: 62px;
  width: 71px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d8b3fa42-b023-4830-b9e8-88119259124c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}