#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}