#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 90px;
  height: 90px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 90px;
  height: 90px;
  position: absolute;
  overflow: hidden;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 90px;
  height: 90px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 90px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Ellipse_1 {
  width: 90px;
  height: 90px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Table_2 {
  position: absolute;
  width: 360px;
  height: 52px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Table_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Table_2 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_43 {
  width: 53px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_43 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_46 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_46 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_49 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_49 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_45 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_45 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_44 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.9;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_44 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_18 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_18 {
  position: absolute;
  width: 41px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_18 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_18 > svg {
  height: 37px;
  width: 41px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_76 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_76 {
  position: absolute;
  width: 42px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_76 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_76 > svg {
  height: 37px;
  width: 42px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_74 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_74 {
  position: absolute;
  width: 45px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_74 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_74 > svg {
  height: 34px;
  width: 45px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_4 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_4 {
  position: absolute;
  width: 36px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_4 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_4 > svg {
  height: 40px;
  width: 36px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_92 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_92 {
  position: absolute;
  width: 35px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_92 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_92 > svg {
  height: 37px;
  width: 35px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_15 {
  position: absolute;
  width: 66px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_15 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_15 > svg {
  height: 48px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_21 {
  position: absolute;
  width: 72px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_21 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_21 > svg {
  height: 50px;
  width: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_7 {
  position: absolute;
  width: 72px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_7 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_7 > svg {
  height: 51px;
  width: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_72 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_72 {
  position: absolute;
  width: 46px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_72 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_72 > svg {
  height: 38px;
  width: 46px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_1 {
  position: absolute;
  width: 50px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_1 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_1 > svg {
  height: 67px;
  width: 50px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_10 > svg {
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_10 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_10 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Image_10 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_1 {
  position: absolute;
  width: 190px;
  height: 52px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_1 > .scroll {
  height: 52px;
  width: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_2 {
  position: absolute;
  width: 246px;
  height: 71px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Category_2 > .scroll {
  height: 71px;
  width: 246px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_22 {
  position: absolute;
  width: 71px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_22 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_22 > svg {
  height: 50px;
  width: 71px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_1 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_1 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_1 > svg {
  height: 30px;
  width: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_23 {
  position: absolute;
  width: 74px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_23 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_23 > svg {
  height: 50px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_3 {
  position: absolute;
  width: 102px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_3 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_3 > svg {
  height: 22px;
  width: 102px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 {
  position: absolute;
  width: 20px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 > .paddingLayer {
  height: 45px;
  width: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 {
  position: absolute;
  width: 20px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 > .clipping, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 > .paddingLayer {
  height: 71px;
  width: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_2 {
  position: absolute;
  width: 66px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_2 > img, #s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 #s-Hotspot_2 > svg {
  height: 50px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-05f4b5d6-e149-42ba-b4ed-6bba5b391312 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}