#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}