#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-plus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Table_1 {
  border-collapse: separate;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Table_2 {
  border-collapse: separate;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_118 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_119 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-290f2363-b957-4812-b4f0-c08003b29c24 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}