#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Table_2 {
  border-collapse: separate;
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-78671b01-4a76-4f73-9303-410e24f92443 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-78671b01-4a76-4f73-9303-410e24f92443 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}