#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a293a7ae-aaba-443f-bddd-947b05cc0289 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}