#s-bf5885f9-5ab1-491e-ae8e-1081867f624e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_3 {
  position: absolute;
  width: 190px;
  height: 79px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_3 > .scroll {
  height: 79px;
  width: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_1 {
  position: absolute;
  width: 190px;
  height: 52px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Category_1 > .scroll {
  height: 52px;
  width: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_2 {
  position: absolute;
  width: 360px;
  height: 52px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_2 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_43 {
  width: 53px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_43 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_46 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_46 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_49 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_49 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_45 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.9;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_45 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_44 {
  width: 54px;
  height: 45px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 25px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_44 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_18 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_18 {
  position: absolute;
  width: 41px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_18 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_18 > svg {
  height: 37px;
  width: 41px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_76 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_76 {
  position: absolute;
  width: 42px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_76 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_76 > svg {
  height: 37px;
  width: 42px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_74 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_74 {
  position: absolute;
  width: 45px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_74 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_74 > svg {
  height: 34px;
  width: 45px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_4 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_4 {
  position: absolute;
  width: 36px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_4 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_4 > svg {
  height: 40px;
  width: 36px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_92 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_92 {
  position: absolute;
  width: 35px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_92 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_92 > svg {
  height: 37px;
  width: 35px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_15 {
  position: absolute;
  width: 66px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_15 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_15 > svg {
  height: 48px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_21 {
  position: absolute;
  width: 72px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_21 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_21 > svg {
  height: 50px;
  width: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 > .clipping, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 > .clipping, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 > .clipping, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Ellipse_25 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #6BCDFD;
  background-image: none;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_25 span#rtr-s-Ellipse_25_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Ellipse_26 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #6BCDFD;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Ellipse_26 span#rtr-s-Ellipse_26_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-plus_1 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-plus_1 {
  position: absolute;
  width: 38px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-plus_1 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-plus_1 > svg {
  height: 36px;
  width: 38px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-input {
  position: absolute;
  width: 299px;
  height: 44px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 78px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Line_5 {
  position: absolute;
  width: 299px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Line_5 {
  width: 83px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Line_6 marker {
  fill: #6BCDFD;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #shapewrapper-s-Line_6 {
  position: absolute;
  width: 299px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Line_6 {
  width: 83px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6BCDFD;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_1 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_1 {
  position: absolute;
  width: 33px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_1 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_1 > svg {
  height: 34px;
  width: 33px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_72 > svg {
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_72 {
  position: absolute;
  width: 46px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_72 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Image_72 > svg {
  height: 38px;
  width: 46px;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_1 {
  position: absolute;
  width: 322px;
  height: 26px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_1 {
  width: 142px;
  height: 19px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.9;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_2 {
  width: 143px;
  height: 19px;
  background-color: #6BCDFD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  opacity: 0.5;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_7 {
  position: absolute;
  width: 72px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_7 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_7 > svg {
  height: 51px;
  width: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_22 {
  position: absolute;
  width: 71px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_22 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_22 > svg {
  height: 50px;
  width: 71px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_1 {
  position: absolute;
  width: 163px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_1 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_1 > svg {
  height: 26px;
  width: 163px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_2 {
  position: absolute;
  width: 33px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_2 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_2 > svg {
  height: 26px;
  width: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_3 {
  position: absolute;
  width: 163px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_3 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_3 > svg {
  height: 26px;
  width: 163px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_4 {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_4 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_4 > svg {
  height: 56px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_23 {
  position: absolute;
  width: 74px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_23 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_23 > svg {
  height: 50px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 {
  position: absolute;
  width: 20px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 > .clipping, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 > .paddingLayer {
  height: 50px;
  width: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 {
  position: absolute;
  width: 20px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 > .clipping, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 > .paddingLayer {
  height: 79px;
  width: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_8 {
  position: absolute;
  width: 64px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_8 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_8 > svg {
  height: 79px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_6 {
  position: absolute;
  width: 58px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_6 > img, #s-bf5885f9-5ab1-491e-ae8e-1081867f624e #s-Hotspot_6 > svg {
  height: 50px;
  width: 58px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf5885f9-5ab1-491e-ae8e-1081867f624e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}