#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Table_2 {
  border-collapse: separate;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Table_1 {
  border-collapse: separate;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_cell_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d6cd1133-fd04-4c42-be2c-8e748ba3449b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}