#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d884a8e0-9701-4e00-9919-f810b688f6b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}