#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9e64236-fba3-4493-a2ec-5cf9bf2e8877 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}