#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Table_2 {
  border-collapse: separate;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_cell_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_cell_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_cell_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_cell_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Text_cell_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fb410e66-66c5-4cd8-85de-4ce02ecd8d04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}